/* .list {
    list-style: none;
    margin: 0;
    padding: 0;
  } */

  /* .list {
    display: flex;
    flex-wrap: wrap;
  } */

  .house_list{
    height: 100vh;
    overflow-y: auto;
  }

  .sticky {
    position: fixed;
  }