
.navbar_container {
  padding: 1rem 1rem;
}

.title {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: black;
}

.location {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  background-color: rgb(255, 252, 59);
  border: 1px solid rgb(255, 252, 59);
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1rem;
}
.location:hover {
  text-decoration: none;
  color: black;
  background-color: rgb(242, 239, 185);
  border: 1px solid rgb(242, 239, 185);
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1rem;
}
/* .location_navbar{
  /* background-color: rgba(255, 255, 255, 0.41); */
/* background-color: transparent; */
/* } */ 