.group {
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
}

.select {
  width: 150px !important;
  height: 40px !important;
  border: none;
  border-bottom: 1px solid #a4a4a4;
  color: #898989;
  border-radius: 0%;
}
.select:hover,
.select:active,
.select:focus {
  color: #000000 !important;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000000;
}

.dropdownToggle {
  width: 240px;
  height: 40px !important;
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid #a4a4a4;
  color: #898989;
}
.dropdownToggle:hover,
.dropdownToggle:active,
.dropdownToggle:focus {
  border: none;
  border-bottom: 1px solid #000000;
  background-color: transparent !important;
  color: black !important;
}

.dropdownToggle::after {
  display: none;
}

.arrow {
  margin-left: 8px;
}

.button {
  color: white;
  background: black;
  border: none;
}
.button:hover,
.button:active,
.button:focus {
  color: black !important;
  background: rgb(255, 252, 59) !important;
  border: none !important;
}



@media (max-width: 576px) {

  
}
