

  .group{
    border: 1px solid black;
    width: 80%;
    border-radius: 2rem;
    margin-bottom: 20px;
  }

  .react-select-container{
    border: none !important; 
  }

.input {
  width: 200px;
  height: 40px !important;
  border: none;
}

.dropdownToggle {
  width: 200px;
  height: 40px !important;
  border: none;
}




.button {
  color: white;
  background: black;
  border: none;
}
.button:hover,
.button:active,
.button:focus {
  color: black !important;
  background: rgb(255, 252, 59) !important;
  border: none !important;
}





  

  