.group {
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
}

.select {
  width: 150px !important;
  height: 40px !important;
  border: none;
  color: black;
}

.input {
  width: 150px;
  height: 40px !important;
  color: black !important;
  border: none;
  border-left: 1px solid black;
  border-radius: 0%;
}

.dropdownToggle {
  width: 220px;
  height: 40px !important;
  border: none;
  border-left: 1px solid black;
  border-radius: 0%;
  color: black;
}
.dropdownToggle:hover,
.dropdownToggle:active,
.dropdownToggle:focus {
  border: none;
  background-color: transparent !important;
  color: black !important;
  border-left: 1px solid black;
}

.dropdownToggle::after {
  display: none;
}

.arrow {
  margin-left: 8px;
}

.button {
  color: white;
  background: black;
  border: none;
}
.button:hover,
.button:active,
.button:focus {
  color: black !important;
  background: rgb(255, 252, 59) !important;
  border: none !important;
}
